@import "virables";
section#section_one {
	div.container {
		width: 100%;
		height: 130vh;
		background-position: center;
		background-size: cover;
		background-image: url(../img/section_1/tlo_1.png);
		margin-top: -165px;
		position: absolute;
		z-index: 0;
		h2 {
			font-size: 4em;
			font-weight: 700;
			font-family: $ffontone;
			color: $napispog-color;
			text-align: center;
			margin-top: 1%
		}
		div.number {
			border: 1px solid red;
			width: 70%;
			height: 28vh;
			margin-left: 14%;
			margin-top: 2.7%;
			div.onetwothree {
				position: relative;
				width: 33%;
				height: 26vh;
				display: inline-block;
				margin-top: 1vh;
				border: 1px solid red;
			}
			div#number_one {
				background-image: url(../img/number/number_one.png);
				background-position: left;
				background-size: contain;
				background-repeat: no-repeat;
				div#icon_one {
					position: absolute;
					left: 17%;
					top: 6%;
				}
			}
			div#number_two {
				background-image: url(../img/number/number_two.png);
				background-position: left;
				background-size: contain;
				background-repeat: no-repeat;
				div#icon_two {
					position: absolute;
					left: 15%;
					top: 3%;
				}
			}
			div#number_three {
				background-image: url(../img/number/number_three.png);
				background-position: left;
				background-size: contain;
				background-repeat: no-repeat;
				div#icon_three {
					position: absolute;
					left: 20%;
					top: 3%;
				}
				div.icon-text {
					left: 20%;
				}
			}
		}
		div.icon-buld {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 66%;
		}
		div.section-one-text {
			position: absolute;
			width: 60%;
			top: 72%;
			left: 50%;
			transform: translateX(-50%);
			border: 1px solid red;
			h3 {
				font-size: 25px;
				text-align: center;
			}
		}
		div.buttons {
			width: 60%;
			height: auto;
			position: absolute;
			top: 85%;
			border: 1px solid red;
			left: 50%;
			transform: translateX(-50%);
			button {
				display: inline-block;
				font-size: 15px;
				width: 25%;
				height: 5vh;
				border:1px solid $icon-color-hover;
			}
		}
	}
}
