@import "virables";
section#lekarze {
	background-image: url(../img/section_3/tlo_section_three.png);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 140vh;
	position: absolute;
	margin-top: 1250px;
	z-index: 0;
	img {
		position: absolute;
		top: 20%;
		left: 47%;
	}
	div.container {
//		border: 1px solid red;
		width: 90%;
		height: 81vh;
		margin-top: 19%;
		margin-left: 5%;
		hr {
			margin-left: 48%;
			margin-top: 1%;
			width: 5%;
			opacity: .5;
		}
		p {
			text-align: center;
			margin-top: 1%;
		}
		div#slider {
			//			border: 1px solid red;
			width: 80%;
			height: 55vh;
			margin: auto;
			margin-top: 2%;
			overflow: hidden;
			position: relative;
			div.slide-show {
//				border: 1px solid orange;
				height: 100%;
				div.single-slide {
//					border: 1px solid blue;
					top: 0;
					bottom: 0;
					div.lekarze-1-2-3 {
						position: absolute;
//						border: 1px solid red;
						width: 33.3%;
						height: 55vh;
						text-align: center;
						img.img_doctor {
							width: 55%;
							position: absolute;
							top: 5%;
							left: 25%;
						}
						h4 {
							margin-top: 64%;
							font-size: 22px;
							font-weight: 500;
						}
						hr {
							width: 10%;
							height: 2px;
							margin-left: 45%;
							margin-top: 3%;
							margin-bottom: 3%;
						}
						p {
							font-size: 13px;
							font-weight: 300;
						}
						button {
							font-weight: 700;
							text-transform: uppercase;
							padding: 10px 40px;
							color: $back-color;
							background-color: transparent;
							border: 2px solid $back-color;
							border-radius: 25px;
							margin-top: 5%;
							transition: all .3s;
							&:hover {
								color: $back-color-two;
								border-color: $back-color-two;
								background-color:$wb-color;
							}
							&:active {
								color: $icon-color;
								border-color: $icon-color;
							}
						}
					}
					div#doctor_one {
						margin-left: 3.5%;
					}
					div#doctor_two {
						margin-left: 33.5%;
						button{
							margin-top:10%;
						}
					}
					div#doctor_three {
						margin-left: 63.5%;
						button{
							margin-top:10%;
						}
					}
				}
			}
			div.slider-arrows a {
				top: 50%;
				transform: translateY(-50%);
				font-size: 3em;
				color: $napispog-color;
				&:hover {
					color: $back-color;
					&:active {
						color: $icon-color;
					}
				}
			}
			div.slider-arrows a.prev-slide{
				position: absolute;
				left: 0;
				z-index: 10;
			}
			div.slider-arrows a.next-slide{
				position: absolute;
				right: 0;
				z-index: 10;
			}
		}
	}
}
