$back-color:#33ffcc;

$back-color-two:#33f5cc;

$placeholder-color:#11ddaa;

$icon-color:#ff9933;

$icon-color-hover:#ee8822;

$btn-color:#ff6699;

$btn-color-hover:#ee5588;

$napispog-color:#333333;

$wb-color:#fff;

$wb-color-hover:#ddd;

$bl-color:#000;

$ffontone: 'Montserrat', sans-serif;

$ffonttwo:'Lato', sans-serif;